<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="LoginSemana8.Properties.Settings.BaseLoginConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BaseLogin.accdb"
        providerName="System.Data.OleDb" />
    <add name="LoginSemana8.Properties.Settings.BaseLoginConnectionString1"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\sistema\BaseLogin.accdb"
        providerName="System.Data.OleDb" />
    <add name="LoginSemana8.Properties.Settings.sistemaConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\sistema\sistema.accdb"
        providerName="System.Data.OleDb" />
    <add name="LoginSemana8.Properties.Settings.BaseLogin1ConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\sistema\BaseLogin1.accdb"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
